.global-bg {
    background-image: url('/images/Map-fo-Website.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* padding: 270px 0 300px 0; */
    height: 100vh;
    z-index: 3;
    margin: 0 0;

}